<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='/css/style.css')}}">
</head>
<body>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на марсе будут яблони цвести!</h4>
    <h5>Фамилия: {{surname}}</h5>
    <h5>Имя: {{name}}</h5>
    <h5>Образование: {{education}}</h5>
    <h5>Профессия: {{profession}}</h5>
    <h5>Пол: {{sex}}</h5>
    <h5>Мотивация: {{motivation}}</h5>
    <h5>Готовы остаться на Марсе? {{ready}}</h5>
</body>
</html>